<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fyrecloud.andrinoime"
    >

    <application android:label="@string/ime_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/ime_name"
            android:windowSoftInputMode="stateVisible"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.android.softkeyboard.SoftKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

        <service android:name="com.android_cy.inputmethod.latin.LatinIME"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

    </application>
</manifest>